// ----------------------------------------------------------------------
// BASE SIZE VARIABLES

    // '$sizeUnit' refers to either:
    //     a.) rem unit defined in 'scss/style.scss.' Can be used in browsers that support rem. 
    //     b.) Pixel unit defined in 'scss/ie8-style.scss.' Can be used in browsers that do not support rem. 

// ----------------------------------------------------------------------

    // $size1: $sizeUnit;   
    // $size2: $sizeUnit * 2;
    // $size3: $sizeUnit * 3;
    // $size4: $sizeUnit * 4;
    // $size5: $sizeUnit * 5;
    $size6: $sizeUnit * 6;
    $size7: $sizeUnit * 7;
    $size8: $sizeUnit * 8;
    $size9: $sizeUnit * 9;

    $size10: $sizeUnit * 10;
    $size11: $sizeUnit * 11;
    $size12: $sizeUnit * 12;
    // $size13: $sizeUnit * 13;
    $size14: $sizeUnit * 14;
    // $size15: $sizeUnit * 15;
    $size16: $sizeUnit * 16;
    // $size17: $sizeUnit * 17;
    $size18: $sizeUnit * 18;
    // $size19: $sizeUnit * 19;

    // $size20: $sizeUnit * 20;
    $size21: $sizeUnit * 21;
    // $size22: $sizeUnit * 22;
    // $size23: $sizeUnit * 23;
    $size24: $sizeUnit * 24;
    // $size25: $sizeUnit * 25;
    // $size26: $sizeUnit * 26;
    // $size27: $sizeUnit * 27;
    // $size28: $sizeUnit * 28;
    // $size29: $sizeUnit * 29;

    // $size30: $sizeUnit * 30;
    // $size31: $sizeUnit * 31;
    // $size32: $sizeUnit * 32;
    // $size33: $sizeUnit * 33;
    // $size34: $sizeUnit * 34;
    // $size35: $sizeUnit * 35;
    $size36: $sizeUnit * 36;
    // $size37: $sizeUnit * 37;
    // $size38: $sizeUnit * 38;
    // $size39: $sizeUnit * 39;

    // $size40: $sizeUnit * 40;
    // $size41: $sizeUnit * 41;
    // $size42: $sizeUnit * 42;
    // $size43: $sizeUnit * 43;
    // $size44: $sizeUnit * 44;
    // $size45: $sizeUnit * 45;
    // $size46: $sizeUnit * 46;
    // $size47: $sizeUnit * 47;
    $size48: $sizeUnit * 48;
    // $size49: $sizeUnit * 49;

    // $size50: $sizeUnit * 50;
    // $size51: $sizeUnit * 51;
    // $size52: $sizeUnit * 52;
    // $size53: $sizeUnit * 53;
    // $size54: $sizeUnit * 54;
    // $size55: $sizeUnit * 55;
    // $size56: $sizeUnit * 56;
    // $size57: $sizeUnit * 57;
    // $size58: $sizeUnit * 58;
    // $size59: $sizeUnit * 59;

    $size60: $sizeUnit * 60;
    // $size61: $sizeUnit * 61;
    // $size62: $sizeUnit * 62;
    // $size63: $sizeUnit * 63;
    // $size64: $sizeUnit * 64;
    // $size65: $sizeUnit * 65;
    // $size66: $sizeUnit * 66;
    // $size67: $sizeUnit * 67;
    // $size68: $sizeUnit * 68;
    // $size69: $sizeUnit * 69;

    // $size70: $sizeUnit * 70;
    // $size71: $sizeUnit * 71;
    $size72: $sizeUnit * 72;